<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>WyzleDev - About Page</title>


    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <link rel="stylesheet" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Wyzle blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Главная
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href="about.html">Обо мне</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Лента</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">Пост</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>обо мне</h4>
                <h2>Профиль</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="../static/assets/images/about-us.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu erat ac dui interdum sollicitudin id ut dui. Curabitur mi leo, facilisis non libero ac, accumsan viverra risus. Curabitur varius vestibulum nibh id tristique. Quisque gravida blandit libero non tristique. </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
          <h4>Заглушка</h4>
          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu erat ac dui interdum sollicitudin id ut dui. Curabitur mi leo, facilisis non libero ac, accumsan viverra risus. Curabitur varius vestibulum nibh id tristique. Quisque gravida blandit libero non tristique. </p>
          </div>
          <div class="col-lg-6">
          <h4>Заглушка</h4>
          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu erat ac dui interdum sollicitudin id ut dui. Curabitur mi leo, facilisis non libero ac, accumsan viverra risus. Curabitur varius vestibulum nibh id tristique. Quisque gravida blandit libero non tristique. </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <h4>Заглушка</h4>
          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu erat ac dui interdum sollicitudin id ut dui. Curabitur mi leo, facilisis non libero ac, accumsan viverra risus. Curabitur varius vestibulum nibh id tristique. Quisque gravida blandit libero non tristique. </p>
          </div>
          <div class="col-lg-4 col-md-6">
          <h4>Заглушка</h4>
          	<p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
          </div>
          <div class="col-lg-4">
          <h4>Заглушка</h4>
          	<p>Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-lg-3 col-md-6">
          <h4>Заглушка</h4>
          	<p>Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Заглушка</h4>
          	<p>Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Заглушка</h4>
          	<p>Morbi ac interdum metus. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Заглушка</h4>
          	<p>Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="https://www.youtube.com/channel/UCgHkqTAvxPKKtrDQQjW0BcQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://vk.com/wyzle/" target="_blank"><i class="fa fa-vk"></i></a></li>
              <li><a href="https://instagram.com/vbutkev1ch/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/WyzleDev" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
        
        
      </div>
    </section>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">VK</a></li>
              <li><a href="#">Telegram</a></li>
              <li><a href="#">YouTube</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#"><s>instagram</s></a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2023 WyzleDev Blog co.
                    
                 | Design: <a rel="nofollow" href="https://t.me/vbutkev1ch/" target="_blank">Вадим Буткевич</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="../static/assets/js/custom.js"></script>
    <script src="../static/assets/js/owl.js"></script>
    <script src="../static/assets/js/slick.js"></script>
    <script src="../static/assets/js/isotope.js"></script>
    <script src="../static/assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                   
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>