{% load static %}

<section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Bybit - криптобиржа</span>
                  <h4>Переходи и получай бонус до 5000$</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://www.bybit.com/invite?ref=YYMV5P" target="_blank" >Перейти</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>